<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Info Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="welcome-text">Welcome to the Student Info Checker</div>
        <a href="/enternew">Add new Name</a>
        <a href="/removestudent">Delete a Name</a>
        <a href="/updatestudent">Update a Name</a>
        <a href="/list">Display all Names</a>
    </div>
</body>
</html>
