<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
    <table border="1">
        <thead>
            <td>Name</td>
            <td>Id</td>
            <td>Points</td>
        </thead>

        {% for row in rows %}
        <tr>
            <td>{{row['name']}}</td>
            <td>{{row['Id']}}</td>
            <td>{{row['Points']}}</td>
        </tr>

        {% endfor %}
    </table>
    <a href="/"> Go to Home</a>
</body>
</html>